
.homepageImage{
    @keyframes fadout {
       0% { opacity: 1; }
       100% { opacity: 0; }
    }
    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
     }
}
.moreAboutMeButton:hover{
   // background-color: '#B9E1DE' !important;
   // -webkit-transition: background-color 200ms linear;
   // -ms-transition: background-color 200ms linear;
   // transition: background-color 200ms linear;
}