
.navBar{
    @keyframes fadeIn {
        0% {opacity: 0;
            height: 1px;}
        100% { opacity: 100; }
    }
    @keyframes fadout {
        0% {}
        100% { opacity: 0;
                 height: 1px; 
                 display: none;
                }
     
     }
}
