  // scrollbar style start ------------------------->
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.2);
    background-color: #B9E1DE;
    border-radius: 10px;
  }

  ::-webkit-scrollbar {
    height: 6px;
    width: 8px;
    background-color: #B9E1DE;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #022422;
  }

//   // <------------------------ scrollbar style end
